<footer>
        
        
        <!--footer start-->
        
        <div class="container-fluid">
        <footer>
            <div class="row">
        
                <div class="col-lg-4 ">
                    <!--p class="">&copy; All right Reserved by Spicy Restaurent </p-->
                    <div class="">
                        <h4 class="text-center">Find Us:</h4>
                       <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                       
                    </p>
                       <p>9978/25 Sec 9</p><br>
                       
        
        
                     
        
                        
        
                    </div>
        
        
        
                </div>
        
                <div class="col-lg-4">
        
                     <div class="ql">
                         <h4 class="text-center">Quick Link</h4>
                        <ul>
                            <li class=""><a href="" class="">Home </a></li>
                            <li class=""><a href="" class="">My Account </a></li>
                            <li class=""><a href="" class="">Login </a></li>
                            <li class=""><a href="" class=""> Service</a></li>
        
                        </ul>
        
                         
                     </div>
        
        
        
                </div>
                <div class="col-lg-4  col-md-6  text-center">
        
                     <div class="follow ">
                     <h4 class="mx-5">Follow Us:</h4>
                     <ul class="">
                     
                     <li class=""><a href="#"><i class="style1 fab fa-facebook-f"></i>Facebook</a></li>
                     <li class=""> <a href="#"><i class="style1 fab fa-twitter"></i>Twitter</a></li>
                     <li class=""> <a href="http://www.yoube.com"><i class="style1 fab fa-youtube"></i>Youtube</a></li>
                     <li class=""><a href="#"><i class="style1 fab fa-instagram"></i>Intragram</a></li>
                     
                     
                     </ul>
                     </div>
                     
                </div>
        
        
                <div class=" col-lg-12 bg-secondary">
        
                
        <hr class="hr">
         <p class="pc">&copy; All right Reserved by Spicy Restaurent </p>
        </div>
        
        
        
                </div>
        
        
            </div>
        
        
        
        </footer>
        
        </div>
        <!--footer End-->

</footer>
